<span class="shell-navigation-icon" aria-hidden="true">
    <FluentIcon TIcon="Microsoft.FluentUI.AspNetCore.Components.Icon"
                Value="@IconValue"
                Color="Color.Neutral" />
</span>

@code {
    [Parameter]
    public string Icon { get; set; } = string.Empty;

    private Microsoft.FluentUI.AspNetCore.Components.Icon IconValue =>
        ShellNavigationIcons.FromName(Icon);
}
