bin/
obj/
node_modules/
dist/
.DS_Store
*.user
*.suo
.vs/
.vscode/
CloudShell.Host/Data/
samples/CloudShell.UiExtensionHost/Data/
samples/CloudShell.ResourceHost/Data/
samples/CloudShell.ContainerHost/Data/
samples/ContainerAppDeployment/Data/
samples/DeviceRegistry/Data/
samples/HostVirtualNetwork/Data/
samples/LoadBalancer/Data/
samples/ProjectReference/Host/Data/
samples/ReplicatedContainerHealth/Data/
samples/SettingsAndSecrets/Data/
samples/SplitHosting/ControlPlane/Data/
.cloudshell
