<div class="settings-form">
    <FluentSelect TOption="string" Label="Density" Value="comfortable" Disabled="true">
        <FluentOption TOption="string" Value="comfortable">Comfortable</FluentOption>
        <FluentOption TOption="string" Value="compact">Compact</FluentOption>
    </FluentSelect>
    <FluentSwitch Label="Use Fluent UI presenters" Value="true" Disabled="true" />
</div>
