<div class="settings-form">
    <FluentTextField Label="Shell name" Value="CoreShell Fluent UI sample" ReadOnly="true" />
    <FluentSwitch Label="Enable contributed sections" Value="true" Disabled="true" />
</div>
