@inject IStringLocalizer<SharedResource> L

<div class="type-registration">
    <div class="form-panel">
        <div class="procedure-message compact">
            @L["Name mappings are currently projected from DNS zone declarations or provider integrations. Use MapHost(...) in the host declaration until Resource Manager authoring is enabled."]
        </div>
    </div>
</div>
