<div class="table-wrap">
    <table class="resource-table" aria-label="@AriaLabel" @attributes="AdditionalAttributes">
        @ChildContent
    </table>
</div>

@code {
    [Parameter]
    public string? AriaLabel { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
}
